[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {extras = ["async"], version = "*"}
flask_cors = "*"
flask-compress = "*"
psycopg2-binary = "2.9.5"
python-dotenv = "*"
click = "8.1.3" #Use Click 8.1.3 or earlier (>=7.1.2) for Python 3.9.
waitress = "*"
zipfile_deflate64 = "*"
xi2annotator = "*"
#
[dev-packages]
pytest-cov = "*"
pytest-flask = "*"
pytest-pydocstyle = "*"
pytest = ">=3.6.4"
pytest-pep8 = "*"
flake8 = ">=3.7.7"
pytest-flake8 = "*"

[requires]
python_version = "3.10"
